#pokeInfo{
	position: fixed;
	left: 650px;
	top: 150px;
	border: solid red;
	border-width: 10px 10px 25px 10px;
	height: 300px;
	width: 150px;
	padding: 10px;
}

#pokeName{
	font-weight: bold;
}

#banner{
	font: 3em bold;
	font-family: "Verdana", "Arial", sans-serif;
	padding-left: 175px;
}