.wBanner{
	font: 2em bold;
}

.unitType > {
	float: left;
}

.centerCont{
	clear: both;
	width: 680px;
	padding-top: 20px;
}

.wInfoBox{
	clear: both;
	height: 300px;
	width: 400px;
}

#city{
	font-size: x-large;
	margin-left: 10px;
	margin-bottom: 15px;
}

#temp{
	margin-left: 10px;
	margin-bottom: 15px;
}

