.infoBox{
	border: solid black;
	height: 125px;
	width: 250px;
	margin: 10px auto;
	padding: 20px;
	position: relative;
}

.numCont{
	height: 75px;
	width: 246px;
	position: absolute; 
    bottom: 25; 
    display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
}

.buttonCont{
	height: 25px;
	width: 246px;
	position: absolute; 
    bottom: 0; 
    display: flex;
	justify-content: center;
	align-items: center;
}


